.gnome {
     background-position:center;
     background-image:url(../images/gnome.png) no-repeat;
}

.footer {
	width: 100%;
	color: #fff;
  margin-top: 10px;
  }

a {
	color: #f60361 !important;
  font-weight: bold;
}

a:hover {
  color: #fff !important;
  background-color: #f60361 !important;
}

a:active {
 color: #fff !important;
  background-color: #f60361 !important;
}

